.transferencia {
  align-items: center;
  border: var(--borda-largura-caixa) solid var(--azul);
  border-radius: var(--borda-raio-caixa);
  display: flex;
  flex-direction: column;
  height: 12em;
  justify-content: space-around;
  margin-bottom: 0.675em;
  padding: var(--padding-caixa);
}

@media screen and (min-width: 1024px) {
  .transferencia {
    width: 36em;
  }
}
